body {
    font-family: "VIC", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.row{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;    
}
.utilityBar{
    background-color: #201647;
    color: white;
    height: 70px;
}
#logo{
    height: 50px;
}
.rdo{ margin-top: 10px;}
.sea, .sky, .river, .toggleDiv, #liveDead{ display: none;}

#isAlive, .WS{
    padding: 0px;
    margin: 0px;
    background-color: #00b7bd;
}
.buttons{
    width: 200px;
    font-size: 20px;
}
#yes{    //background-color: yellow; }
#no{    background-color: #201647;; }
#donKnow{    background-color: antiquewhite; }
#FAid{    background-color: darkred; }
#arrow-up{
    display: none;
}


.img_caption_div{
    text-align: center;
}
