body, html{
    width: 100%;
    height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
#wrapper{position:absolute; width: 100%; 
    height:100%; background-color: white;z-index: 2;}
/* Map styles 
#mapDiv,*/
#map-canvas {
    height: 100%;
    display: none;
    overflow:visible;
}

hr{ margin: 0px;}
p { font-size: 100%;  }

.headCont{
  height: 100%;
  /* equal to footer height margin-bottom: -95px; */
}
/*.cont, .downF, .IdntKnowAndClosestShel{position: relative;}*/
.Wimages{ width: 100%;}

.downF{margin-top: 1%;}
.row{
    text-align: center;
    margin-bottom: 0px;
    //padding: 0px;
}
#utilityBar{
    background-color: #201647;
    color: white;
    text-align: left;
}

.logo{ height: 100%; }
#WhatSpe{ font-size: 20px; font-weight: bold;}
.land, .waterMammals, .birds, .reptilesAmphibians, .introduced, .toggleDiv, #liveDead, #whatHapn{ display: none;}
#lssr{padding-top:40px;}
#whatHapn{margin-bottom: 5%;}

#isAlive{    background-color: #00b7bd; }
.buttons{
    width: 80%;
    }
#yes{    background-color: #00b7bd; }
#no{    background-color: #201647; }
#donKnow{background-color: #cdd0d6; color: black;}
#yes, #no, #donKnow{height:100px; line-height: 90px;}

#FAid{    background-color: #891111; }
.keys, .centers, .shelter, #arrow-up, #openingHours, #OpenHArrow, #shelterOpenH, #mapDiv{    display: none; }
.menuBar{//padding-left: 1%;}
#trapezoidMenu {float: right;height: 100%;}
#moreLess{padding-top:1%;font-size: 140%;}
#menuDiv{display: none;}

.img_caption_div{    text-align: center; }

.theImg{ margin-top: 2%; border-radius: 50%; width: 30%; }
.imgText{background-color:#00b7bd;}
.imgQuestion, #specieName{ 
    font-size: 140%;
    font-weight:bold;
    color:white;
    //text-align: center;
}
.bckNxt{ display: none;    width: 35px; }

.Qbtns{
    background-color:#00b7bd;
    width: 100%;
    height: 100px;
    
    font-weight: 500;
    border-radius: 5px;
    color: white;
    line-height: 100px;
   
}
#Qbtn1,#Qbtn2, #Qbtn3, #Qbtn4, #Qbtn5, #Qbtn6{
    margin-bottom: 14px; 
}
#Qbtn1{line-height: 70px;
    padding: 15px 0;}
#Qbtn2{ 
    
    padding: 30px 5px;
    line-height: 20px;}
#Qbtn3, #Qbtn4{     padding: 30px 5px;
    line-height: 20px; }
#Qbtn5{    padding-top: 10px;
    /* line-height: 15px; */
    /* font-size: 15px; */
    line-height: 20px;}
#Qbtn6{    padding: 0;}
#Qbtn7{    padding: 0;}

@font-face {
    font-family: VIC;
    src: url(fonts/VIC font/WEBFONT/Light/VIC-Light.woff);
}

#btns{ padding-top: 10px;}
.buttons, Qbtns {
    overflow: hidden;
}
.buttons:hover:before {  opacity:1;}

.buttons:before {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}
//.modal{overflow-x: hidden;}

.panel {
    display:none;
    float:right;
	height:100%;
	background: white;
	position:absolute;
    right:95%;
    top:0%;
    z-index: 103;
    overflow:scroll;
}
.panelContent{
    text-align:left; 
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;    
}
#firstAidFooter, .keysFooter, .shelterFooter{position: absolute;//margin: 6%;font-size: 20px;
    text-align: right;bottom: 0px;
    left: 0px;right: 0px;margin-top: 6%;}
.WHL{ margin-right: -4px; }
.WHR{ margin-left: -4px;  }
.fontCol{color:#00b7bd;}

.KHIMG{width: 60%;    padding-top: 15%; }
.KCIMG{width: 60%;    padding-top: 15%; }
.CCIMG{width: 80%;    margin: 5% 0% 2% 0%;; }
.CCIMGI{width: 100%;    padding-top: 70%; }
.centersHeader{ background-color: #00b7bd; height:175px;}
.headersBgCol {background-color:#dbeeed; height:175px;}
#hr{display: none;}
.catsIMG{ width:60%;}
#mapFooter{
    display: none;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 100;
    bottom:1%;
    margin-bottom: 4%;
}
.MFB{ width: 22%; float:right;margin-right:1%}
.centers-btns{ width: 90%; }
#mapKey, #mapMenu, #listicon-alt{display:none}
#mapModal{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 140%;
    z-index: 105;
}
#LocationBox{
    display: none;
    position: absolute;
    width: 85%;
    height: 47%;
    top: 20%;
    left: 8%;
    opacity: 1;
    background-color: white;
    border-radius: 5px;
    z-index: 105;
}
.centersRow:hover{    background-color: #dbeeed }

.mapDGeoQ{padding:12% 0% 0% 0%;}
input::-webkit-input-placeholder {
    color: black !important;
}
input:-moz-placeholder { /* Firefox 18- */
    color: black !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: black !important;  
}

.AutoUL{
    background-color: white; 
    z-index:106;
    position:absolute;
    width: 100%;
    margin-top: -2%;  
}

.AutoLiH{
    background-color: '#cfcfcf';
}
/* Warning box settings */
.warning{
    position: absolute;width: 100%;height: 100%;
    top:0%;left:0%;
}
.filterBox{
    position:absolute; width:280px; height: 460px;
    top:0%;left:0%; display: none; z-index: 202;
    background-color: white; border-radius: 5px;
}
.filterCatTxt{color:#00b7bd; padding:5%;}

#blackBg, #filterBlackBg{width: 100%; height: 100%;opacity: 0.4; position: absolute;
    z-index: 200;background-color: black;}
#filterBlackBg{display: none;top:0%;left:0%;}
#filterHead{background-color:#00b7bd; 
    color:white; font-size: 160%; margin-bottom: 5%; font-weight: 600;}
#filterFooter{position: absolute; padding: 1rem;
    bottom: 0;left: 0; right: 0;text-align: right;}
/*.rdoButtons {
      display: block;
   } */
#warnBox, #IdonKnowBox{width:250px;height: 350px;;
    position: absolute;background-color: white;
    left: 10%;top:20%;z-index: 201;
    border-radius: 5px; 
}

#warnFooter{ position: absolute; padding: 1rem;
    bottom: 0; left: 0; right: 0; text-align:right;}

.warnHead{background-color:#00b7bd; 
    color:white;     font-size: 210%;
    font-weight: 600;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
.warnContent{color:#000; font-size: 115%;padding:5%;
text-align: justify; }
/* Warning box settings end */

.headCont{  min-height: 100%; /* equal to footer height */
  //margin-bottom: -95px; }
.headCont:after { //content: ""; //display: block;}
.footer, .headCont:after { //height: 95px; }

#mapMenuModal{display: none;z-index: 200; position: absolute; width: 100%; left:0;}

/* Changes the placeholder color*/
#srch::-webkit-input-placeholder {color: white !important; }

#srch:-moz-placeholder { /* Firefox 18- */
color: white !important;  }
#srch::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  }
#srch:-ms-input-placeholder {  
color: white !important; }

#srch{ display: none; position: absolute; top:25%; width:90%; z-index: 106;}
#srchClose{display: none; position: absolute; top:40%; z-index: 106; height: 45px;}
//input[id="srch"]:focus{background-color: black;}

#menuDiv{
    width: 100%;
    height: 100%;
    z-index: 1;
}
#menuHead{
    background-color: #00b7bd; color: white;font-size: 200%; padding-top: 8px;
}
.collection a.collection-item{color:black;}
#blackLayer{
    display: none; background-color: black; opacity: 0.4; z-index: 102; width: 100%; height: 100%; position: absolute;
}
#Cimage {margin-left: 10%; width:50%;}
.ShelPW{padding:15px 0px 0px 0px; width:40%;}


#list-title {
        font-size:22px; font-weight:bold; color:white;
    }

@media screen and (min-width: 400px) {
    .Wimages{ width: 65%;}
    .theImg{width: 28%;}
    #mapDGeoQ{padding:5% 0% 5% 0%;}
    #LocationBox{height: 38%;width:65%;}
    .MFB{ width: 15%;}
    .KHIMG{width: 40%; padding-top: 5%;}
    #Cimage{ width: 50%;}
    .headersBgCol{height:175px;}
    .ShelPW{ width: 30%;}
    .centersHeader{height:175px;}
    .filterBox{width:330px; height: 550px;}
}

@media screen and (min-width: 600px) {
    .Wimages, .ShelPW{ width: 60%;}
    .theImg{width: 25%;}   
    #mapDGeoQ{padding:9% 0% 5% 0%;}
    #LocationBox{height: 46%;width:50%;}
    .MFB{ width: 10%;}
    .KHIMG{width: 35%; padding-top: 5%;} 
    .CCIMG{width: 30%;}
    .CCIMGI{width: 70%;padding-top: 35%;}
    #Cimage{ width: 65%;}
    .headersBgCol{height:180px;}
    .ShelPW{ width: 25%;}
    .centersHeader{height:180px;}
    .filterBox{width:330px; height: 550px;}


}

@media screen and (min-width: 800px) {
    .Wimages{ width: 50%;}
    .theImg{width: 20%;}
    #mapDGeoQ{padding:7% 0% 5% 0%;}
    #LocationBox{height: 42%;width:42%;}
    .MFB{ width: 8%;}
    .KHIMG{width: 25%;} 
    .KCIMG{width: 40%; padding-top: 3%;}
    .CCIMG{width: 25%;}
    .CCIMGI{width: 55%;padding-top: 25%;} 
    #Cimage{ width: 75%;}
    .headersBgCol{height:180px;}
    .ShelPW{ width: 20%;}
    .centersHeader{height:180px;}
    .filterBox{width:340px; height: 560px;}
}

@media screen and (min-width: 1000px) {
    .Wimages{ width: 35%;}
    .theImg{width: 15%;}
    #mapDGeoQ{padding:5% 0% 4% 0%;}
    #LocationBox{height: 72%;}
    #LocationBox{height: 40%;width:40%;}
    .MFB{ width: 7%;}
    .KHIMG{width: 20%;} 
    .KCIMG{width: 30%; padding-top: 3%;}
    .CCIMG{width: 20%;}
    .CCIMGI{width: 43%;padding-top: 18%;}
    #Cimage{ width: 80%;}
    .headersBgCol{height:185px;}
    .ShelPW{ width: 15%;}
    .centersHeader{height:185px;}
    .filterBox{width:340px; height: 560px;}
}
@media screen and (min-width: 1300px) {
    .Wimages{ width: 25%;}
    .theImg{width: 10%;}
    #mapDGeoQ{padding:3% 0% 3% 0%;}
    #LocationBox{height: 35%;width:35%;}
    .MFB{ width: 5.5%;}
    .KHIMG{width: 15%;} 
    .KCIMG{width: 20%; padding-top: 3%;}
    .CCIMG{width: 18%;}
    .CCIMGI{width: 30%;padding-top: 190px;} 
    #Cimage{ width: 80%;}
    .headersBgCol{height:190px;}
    .ShelPW{ width: 13%;}
    .centersHeader{height:190px;}
    .filterBox{width:340px; height: 560px;}
}

@media screen and (min-width: 1800px) {
    .Wimages{ width: 23%;}
    .theImg{width: 8%;}
    #mapDGeoQ{padding:2% 0% 2% 0%;}
    #LocationBox{height: 33%;width:33%;}
    .MFB{ width: 4%;}
    .KHIMG{width: 10%;} 
    .KCIMG{width: 15%; padding-top: 3%;}
    .CCIMG{width: 15%;}
    .CCIMGI{width: 33%;padding-top: 190px;} 
    #Cimage{ width: 80%;}
    .headersBgCol{height:190px;}
    .ShelPW{ width: 11%;}
    .centersHeader{height:190px;}
    .filterBox{width:340px; height: 560px;}
}



/* _____ Removes the map copyrights..at footer ___*/
/*a[href$="google.com/maps"], .gmnoprint:not(.gm-bundled-control) {
    display: none !important
}
.gm-bundled-control .gmnoprint {
    display: block;
} */
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png"]
{display:none} 
/* _ End of Removes the map copyrights..at footer _*/

/*
.radioBtns label {
    //display:inline-block;
    //font-size:100%;
}
.radioBtns{
    text-align: left;
    margin: 5% 0% 0% 5%;
}
*/

/* Mobile Phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

  #myClosestShelters{ line-height:16px; }
  .buttons{
        width: 100%;
        font-size: 75%;
    }

    .buttons_alive {
        width: 80%;
        font-size: 105%;
    }

    #list-title {
        font-size:20px; 
    }

}

/* Tablets Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
 {
    .buttons{
        width: 90%;
        font-size: 75%;
    }

    #list-title {
        font-size:20px; 
    }

 }