body {
    font-family: "VIC", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.row{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;    
}
.utilityBar{
    background-color: #201647;
    color: white;
    height: 70px;
}
#logo{
    height: 50px;
}
.rdo{ margin-top: 10px;}
.sea, .sky, .river, .toggleDiv{ display: none;}

.WS{
    background-color: #00b7bd;
}

#arrow-up{
    display: none;
}

#r1c1{
    //padding-left: 20px;
    //float: right;
}
#r1c2{
    //float: none;
}
#r1c3{
    //float: left;
    //padding-right: 20px;
}
.img_caption_div{
    text-align: center;
}
